<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="item in movies">{{item}}</li>
            <li v-for="(m,index) in movies">{{m}}{{index}}</li>
        </ul>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        //在vue解析之前有一个v-cloak属性，解析之后就没有这个属性了。所以style中的display:none也就失效了
        const app = new Vue({
            el:'#app',//用于要挂载的元素
            data:{//定义数据
                movies:['进击的巨人','海尔兄弟','火影忍者']
            }
        })
    </script>
</body>
</html>