<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 父组件模板 -->
    <div id="app">
        <cpn v-if="isShow"></cpn>
    </div>
    <!-- 子组件模板 -->
    <template id="cpn">
        <div>
            <h2>我是子组件哈哈哈</h2>
            <p>我是内容呵呵呵</p>
            <button v-if="isShow">按钮</button>
        </div> 
    </template>
    <script src="../js/vue.js"></script>
    <script>
        //vue实例可认为是根组件
        const app = new Vue({
            el:'#app',//用于要挂载的元素
            data:{
                isShow:true
            },
            methods:{
                btnClick(){
                }
            },
            //局部组件注册
            components:{
                cpn:{
                    template:'#cpn',
                    //data属性是子组件的属性
                    data(){
                        return {
                            isShow:true
                        }
                    },
                    methods:{
                        showMessage(){
                            console.log('showMessage');
                        }
                    }
                }
            }
        })
    </script>
</body>
</html>