<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- 选择一个 -->
        <!-- <select name="abc" id="" v-model="fruit">
            <option value="苹果">苹果</option>
            <option value="香蕉">香蕉</option>
            <option value="草莓">草莓</option>
            <option value="西瓜">西瓜</option>
            <option value="蓝莓">蓝莓</option>
        </select> -->
        <select name="abc" id="" v-model="fruit" multiple>
            <option value="苹果">苹果</option>
            <option value="香蕉">香蕉</option>
            <option value="草莓">草莓</option>
            <option value="西瓜">西瓜</option>
            <option value="蓝莓">蓝莓</option>
        </select>
        <h2>您选择的水果是：{{fruit}}</h2>
        <h2>您选择的多种水果是：{{fruits}}</h2>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',//用于要挂载的元素
            data: {//定义数据
                message: '你好啊！',
                fruit:'香蕉',
                fruits:[]
            },
            methods: {
                valueChange(event) {
                    this.message = event.target.value;
                }
            }
        })
    </script>
</body>

</html>